# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/
frontend/coverage/
frontend/.next/

# ===== BACKEND =====
backend-node/node_modules/
backend-node/.env


# ===== LAMBDAS =====

lambda-functions/**/node_modules/
lambda-functions/**/lambda.zip 


#=====BOOTSTRAP ======
bootstrap/.terraform
bootstrap/.terraform.lock.hcl
bootstrap/terraform.tfstate
bootstrap/terraform.tfvars

# ===== INFRA =====

infrastructure/.terraform/
infrastructure/terraform.tfstate*
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars

# ===== GENERAL =====
.vscode/
.DS_Store
*.log
.env
*.zip
*.bak
.env
